<div class="row">
  <div class="col-xs-6 col-md-6 cover-image">
    <!-- <img src="assets/images/home_cover.jpg" alt=""> -->
  </div>
  <div class="col-md-6 col-xs-6 signinContainer" >
    <h1>
      Welcome to dream property listing
    </h1>
    <p>
      Get your dream house today. 
    </p>
    <p>  
    Sign In and get ready to choose your dream house from millions of options
    </p>
    <div class="signinButton">
      <a (click)="login()" style="cursor: pointer;">
        <img src="assets/images/google.png" alt="">
      </a>
    </div>
  </div>
</div>