.row{
    height: 580px;
    margin-left: 0;
    margin-right: 0;
}
.cover-image{
    margin: 0;
    padding: 0;
}
.cover-image{
    width: 100%;
    /* height: 100%; */
    background-image: url("assets/images/home_cover.jpg");
    background-size: cover;
}
.signinContainer{
    margin: 0;
    padding: 30px;
}
.signinContainer h1{
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
}
.signinContainer p {
    text-align: center;
    font-size: 18px;
    color: #333333;
}
.signinContainer .signinButton{
   position: absolute;
   width: 90%;
   /* height: 100%; */
}
.signinContainer .signinButton img{
     margin-left: auto;
     margin-right: auto;
     display: block;
}